@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap'); 
html, body { background: #2C2F33; margin: 0; width: 100%; height: 100%; font-family: 'Fredoka', sans-serif; }

main { height: 100%; display: grid; grid-template-columns: repeat(20, 1fr); grid-template-rows: repeat(12, 1fr); }

#drop-zone-border--outer { z-index: 1; position: absolute; left: 20%; top: 50%; -webkit-transform: translate(-30%, -50%); transform: translate(-30%, -50%); width: 45%; height: 80%; border: 12px solid #2C2F33; border-radius: 120px; }
#drop-zone-border--inner { display: flex; flex-direction: column; justify-content: space-between; z-index: 1; height: calc(100% - 24px); border: 12px solid #2C2F33; border-radius: 100px; }

#drop-zone { height: calc(100% - 24px); border: 12px solid #3B5AC6; border-radius: 110px; }
#drop-zone__title { margin: 0 auto; width: 100%; text-align: center; font-size: 3rem; color: #3B5AC6; font-weight: 800; letter-spacing: 1.5px; }
#drop-zone__file-name, #drop-zone__text { width: 100%; text-align: center; color: #3B5AC6; font-weight: 800; letter-spacing: 1.5px; margin: 0; word-wrap: break-word; }
#drop-zone__text { text-decoration: underline; font-size: 2rem; }
#drop-zone__file-input { display: none; width: 600px; }

#upload-button { display: inline-block; position: relative; padding: 0.5rem 1rem; margin: 0.5rem; border: none; border-radius: 4px; cursor: pointer; text-align: center; text-decoration: none; font-size: 1.2rem; font-weight: 800; letter-spacing: 1.5px; color: #2C2F33; background: #3B5AC6; transition: all 0.2s ease-in-out; }
#upload-button:hover { background: #2C2F33; color: #3B5AC6; }
#upload-button:before { content: ''; position: absolute; top: 50%; left: -1.5rem; width: 1.5rem; height: 1.5rem; background: #3B5AC6; border-radius: 50%; transition: all 0.2s ease-in-out; }
#upload-button:after { content: attr(data-text); position: absolute; top: 50%; left: 1.5rem; width: calc(100% - 3rem); height: 1.5rem; background: #2C2F33; border-radius: 50%; transition: all 0.2s ease-in-out; }

#svg-frame { z-index: 0; border: none; position: fixed; bottom: -1800px; right: -1100px; transform: rotate(-45deg); width: 5000px; height: 3000px; background-color: #2C2F33; }

@media only screen and (max-width: 1500px) { #drop-zone__title { font-size: 2.5rem; }
}

@media only screen and (max-width: 1275px) { #drop-zone__title { font-size: 2rem; }
}

@media only screen and (min-width: 1200px) { #drop-zone-border--outer { grid-column: 2 / 11; grid-row: 2 / 12; position: unset; -webkit-transform: none; transform: none; width: auto; height: auto; }
}

@media only screen and (max-width: 1200px) { #drop-zone-border--outer { width: 80%; height: 45%; left: 0; right: 0; margin: 0 auto; top: 5%; transform: none; }
#drop-zone__title { font-size: 3rem; }
#drop-zone #svg-frame { bottom: -1900px; right: -1200px; }
}

@media only screen and (max-width: 850px) { #drop-zone__title { font-size: 2.5rem; }
}

@media only screen and (max-width: 750px) { #drop-zone__title { font-size: 2rem; }
}
