@option style: compact;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

$dark: #2C2F33;
$blue: #3B5AC6;

html, body {
    background: $dark;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Fredoka', sans-serif;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#drop-zone-border {
    &--outer {
        z-index: 1;
        position: absolute;
        left: 20%;
        top: 50%;
        -webkit-transform: translate(-30%, -50%);
        transform: translate(-30%, -50%);
        width: 45%;

        height: 80%;
        border: 12px solid $dark;
        border-radius: 120px;
    }

    &--inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        height: calc(100% - 24px);
        border: 12px solid $dark;
        border-radius: 100px;
    }
}

#drop-zone {
    height: calc(100% - 24px);
    border: 12px solid $blue;
    border-radius: 110px;

    &__title {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        color: $blue;
        font-weight: 800;
        letter-spacing: 1.5px;
    }

    &__file-name, &__text {
        width: 100%;
        text-align: center;
        color: $blue;
        font-weight: 800;
        letter-spacing: 1.5px;
        margin: 0;

        word-wrap: break-word;
    }

    &__text {
        text-decoration: underline;
        font-size: 2rem;
    }

    &__file-input {
        display: none;
        width: 600px;
    }
}

// A button with logo on left side and text on right side and hover effect that removes the text and slides the logo to the right
#upload-button {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: $dark;
    background: $blue;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: $dark;
        color: $blue;
    }

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background: $blue;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }

    &:after {
        content: attr(data-text);
        position: absolute;
        top: 50%;
        left: 1.5rem;
        width: calc(100% - 3rem);
        height: 1.5rem;
        background: $dark;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }
}

#svg-frame {
    z-index: 0;
    border: none;

    position: fixed;
    bottom: -1800px;
    right: -1100px;

    transform: rotate(-45deg);
    width: 5000px;
    height: 3000px;
    background-color: $dark;
}

@import "file_mq";